<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="performedProcedure">
            <h2><span jhiTranslate="startMedsolPrototypeApp.performedProcedure.detail.title">Performed Procedure</span> {{ performedProcedure.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="startMedsolPrototypeApp.performedProcedure.procedure">Procedure</span></dt>
                <dd>
                    <div *ngIf="performedProcedure.procedureId">
                        <a [routerLink]="['/cs-procedure', performedProcedure.procedureId, 'view']">{{ performedProcedure.procedureId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.performedProcedure.medicalCase">Medical Case</span></dt>
                <dd>
                    <div *ngIf="performedProcedure.medicalCaseId">
                        <a [routerLink]="['/medical-case', performedProcedure.medicalCaseId, 'view']">{{ performedProcedure.medicalCaseId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/performed-procedure', performedProcedure.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
