<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-code-set-load-heading" jhiTranslate="startMedsolPrototypeApp.codeSetLoad.home.createOrEditLabel">Create or edit a Code Set Load</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.codeSetLoad.type" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="BNO">{{ 'startMedsolPrototypeApp.CodeSetType.BNO' | translate }}</option>
                        <option value="OENO">{{ 'startMedsolPrototypeApp.CodeSetType.OENO' | translate }}</option>
                        <option value="PUPHA">{{ 'startMedsolPrototypeApp.CodeSetType.PUPHA' | translate }}</option>
                        <option value="POSTAL_CODE">{{ 'startMedsolPrototypeApp.CodeSetType.POSTAL_CODE' | translate }}</option>
                        <option value="COUNTRY">{{ 'startMedsolPrototypeApp.CodeSetType.COUNTRY' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.codeSetLoad.latestVersion" for="field_latestVersion">Latest Version</label>
                    <input type="text" class="form-control" name="latestVersion" id="field_latestVersion"
                           formControlName="latestVersion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.codeSetLoad.url" for="field_url">Url</label>
                    <input type="text" class="form-control" name="url" id="field_url"
                           formControlName="url"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.codeSetLoad.log" for="field_log">Log</label>
                    <input type="text" class="form-control" name="log" id="field_log"
                           formControlName="log"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.codeSetLoad.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="SUCCESS">{{ 'startMedsolPrototypeApp.CodeSetStatus.SUCCESS' | translate }}</option>
                        <option value="ERROR">{{ 'startMedsolPrototypeApp.CodeSetStatus.ERROR' | translate }}</option>
                        <option value="IN_PROGRESS">{{ 'startMedsolPrototypeApp.CodeSetStatus.IN_PROGRESS' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
