<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="csProcedure">
            <h2><span jhiTranslate="startMedsolPrototypeApp.csProcedure.detail.title">Cs Procedure</span> {{ csProcedure.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="startMedsolPrototypeApp.csProcedure.code">Code</span></dt>
                <dd>
                    <span>{{ csProcedure.code }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.csProcedure.description">Description</span></dt>
                <dd>
                    <span>{{ csProcedure.description }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.csProcedure.validity">Validity</span></dt>
                <dd>
                    <div *ngIf="csProcedure.validityId">
                        <a [routerLink]="['/validity', csProcedure.validityId, 'view']">{{ csProcedure.validityId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cs-procedure', csProcedure.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
