<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="csCountry">
            <h2><span jhiTranslate="startMedsolPrototypeApp.csCountry.detail.title">Cs Country</span> {{ csCountry.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="startMedsolPrototypeApp.csCountry.code">Code</span></dt>
                <dd>
                    <span>{{ csCountry.code }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.csCountry.description">Description</span></dt>
                <dd>
                    <span>{{ csCountry.description }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.csCountry.validity">Validity</span></dt>
                <dd>
                    <div *ngIf="csCountry.validityId">
                        <a [routerLink]="['/validity', csCountry.validityId, 'view']">{{ csCountry.validityId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cs-country', csCountry.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
