<div>
    <h2 id="page-heading">
        <span jhiTranslate="startMedsolPrototypeApp.medicalCaseDiagnosis.home.title">Medical Case Diagnoses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medical-case-diagnosis" [routerLink]="['/medical-case-diagnosis/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="startMedsolPrototypeApp.medicalCaseDiagnosis.home.createLabel">
            Create a new Medical Case Diagnosis
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="medicalCaseDiagnoses?.length === 0">
        <span jhiTranslate="startMedsolPrototypeApp.medicalCaseDiagnosis.home.notFound">No medicalCaseDiagnoses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="medicalCaseDiagnoses && medicalCaseDiagnoses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="diagnosisId"><span jhiTranslate="startMedsolPrototypeApp.medicalCaseDiagnosis.diagnosis">Diagnosis</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="medicalCaseId"><span jhiTranslate="startMedsolPrototypeApp.medicalCaseDiagnosis.medicalCase">Medical Case</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicalCaseDiagnosis of medicalCaseDiagnoses ;trackBy: trackId">
                    <td><a [routerLink]="['/medical-case-diagnosis', medicalCaseDiagnosis.id, 'view']">{{ medicalCaseDiagnosis.id }}</a></td>
                    <td>
                        <div *ngIf="medicalCaseDiagnosis.diagnosisId">
                            <a [routerLink]="['/cs-diagnosis', medicalCaseDiagnosis.diagnosisId , 'view']" >{{ medicalCaseDiagnosis.diagnosisId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="medicalCaseDiagnosis.medicalCaseId">
                            <a [routerLink]="['/medical-case', medicalCaseDiagnosis.medicalCaseId , 'view']" >{{ medicalCaseDiagnosis.medicalCaseId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/medical-case-diagnosis', medicalCaseDiagnosis.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/medical-case-diagnosis', medicalCaseDiagnosis.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(medicalCaseDiagnosis)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="medicalCaseDiagnoses && medicalCaseDiagnoses.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
