<div>
    <h2 id="page-heading">
        <span jhiTranslate="startMedsolPrototypeApp.provider.home.title">Providers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-provider" [routerLink]="['/provider/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="startMedsolPrototypeApp.provider.home.createLabel">
            Create a new Provider
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="providers?.length === 0">
        <span jhiTranslate="startMedsolPrototypeApp.provider.home.notFound">No providers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="providers && providers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nameLong"><span jhiTranslate="startMedsolPrototypeApp.provider.nameLong">Name Long</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nameShort"><span jhiTranslate="startMedsolPrototypeApp.provider.nameShort">Name Short</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="institutionId"><span jhiTranslate="startMedsolPrototypeApp.provider.institutionId">Institution Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="startMedsolPrototypeApp.provider.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span jhiTranslate="startMedsolPrototypeApp.provider.phone">Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accountNumber"><span jhiTranslate="startMedsolPrototypeApp.provider.accountNumber">Account Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contactPersonId"><span jhiTranslate="startMedsolPrototypeApp.provider.contactPerson">Contact Person</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="companyId"><span jhiTranslate="startMedsolPrototypeApp.provider.company">Company</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="billingInformationId"><span jhiTranslate="startMedsolPrototypeApp.provider.billingInformation">Billing Information</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let provider of providers ;trackBy: trackId">
                    <td><a [routerLink]="['/provider', provider.id, 'view']">{{ provider.id }}</a></td>
                    <td>{{ provider.nameLong }}</td>
                    <td>{{ provider.nameShort }}</td>
                    <td>{{ provider.institutionId }}</td>
                    <td>{{ provider.email }}</td>
                    <td>{{ provider.phone }}</td>
                    <td>{{ provider.accountNumber }}</td>
                    <td>
                        <div *ngIf="provider.contactPersonId">
                            <a [routerLink]="['/contact-person', provider.contactPersonId , 'view']" >{{ provider.contactPersonId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="provider.companyId">
                            <a [routerLink]="['/company', provider.companyId , 'view']" >{{ provider.companyId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="provider.billingInformationId">
                            <a [routerLink]="['/billing-information', provider.billingInformationId , 'view']" >{{ provider.billingInformationId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/provider', provider.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/provider', provider.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(provider)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="providers && providers.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
