<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dynamic-form-heading" jhiTranslate="startMedsolPrototypeApp.dynamicForm.home.createOrEditLabel">Create or edit a Dynamic Form</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.dynamicForm.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code')!.invalid && (editForm.get('code')!.dirty || editForm.get('code')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.dynamicForm.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.dynamicForm.professionCode" for="field_professionCode">Profession Code</label>
                    <input type="text" class="form-control" name="professionCode" id="field_professionCode"
                           formControlName="professionCode"/>
                    <div *ngIf="editForm.get('professionCode')!.invalid && (editForm.get('professionCode')!.dirty || editForm.get('professionCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('professionCode')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('professionCode')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4 }">
                        This field cannot be longer than 4 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.dynamicForm.professionName" for="field_professionName">Profession Name</label>
                    <input type="text" class="form-control" name="professionName" id="field_professionName"
                           formControlName="professionName"/>
                    <div *ngIf="editForm.get('professionName')!.invalid && (editForm.get('professionName')!.dirty || editForm.get('professionName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('professionName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('professionName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.dynamicForm.formTemplate" for="field_formTemplate">Form Template</label>
                    <textarea class="form-control" name="formTemplate" id="field_formTemplate"
                              formControlName="formTemplate"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.dynamicForm.reportTemplate" for="field_reportTemplate">Report Template</label>
                    <textarea class="form-control" name="reportTemplate" id="field_reportTemplate"
                              formControlName="reportTemplate"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.dynamicForm.separatelyPrint" for="field_separatelyPrint">Separately Print</label>
                    <input type="checkbox" class="form-control" name="separatelyPrint" id="field_separatelyPrint"
                           formControlName="separatelyPrint"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.dynamicForm.provider" for="field_provider">Provider</label>
                    <select class="form-control" id="field_provider" name="provider" formControlName="providerId">
                        <option *ngIf="!editForm.get('providerId')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="providerOption.id" *ngFor="let providerOption of providers; trackBy: trackById">{{ providerOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('providerId')!.invalid && (editForm.get('providerId')!.dirty || editForm.get('providerId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('providerId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
