<div>
    <h2 id="page-heading">
        <span jhiTranslate="startMedsolPrototypeApp.medicalInvoice.home.title">Medical Invoices</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medical-invoice" [routerLink]="['/medical-invoice/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="startMedsolPrototypeApp.medicalInvoice.home.createLabel">
            Create a new Medical Invoice
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="medicalInvoices?.length === 0">
        <span jhiTranslate="startMedsolPrototypeApp.medicalInvoice.home.notFound">No medicalInvoices found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="medicalInvoices && medicalInvoices.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="orderNumber"><span jhiTranslate="startMedsolPrototypeApp.medicalInvoice.orderNumber">Order Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="invoiceNumber"><span jhiTranslate="startMedsolPrototypeApp.medicalInvoice.invoiceNumber">Invoice Number</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="startMedsolPrototypeApp.medicalInvoice.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="total"><span jhiTranslate="startMedsolPrototypeApp.medicalInvoice.total">Total</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creatorUser"><span jhiTranslate="startMedsolPrototypeApp.medicalInvoice.creatorUser">Creator User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="startMedsolPrototypeApp.medicalInvoice.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="medicalCaseId"><span jhiTranslate="startMedsolPrototypeApp.medicalInvoice.medicalCase">Medical Case</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicalInvoice of medicalInvoices ;trackBy: trackId">
                    <td><a [routerLink]="['/medical-invoice', medicalInvoice.id, 'view']">{{ medicalInvoice.id }}</a></td>
                    <td>{{ medicalInvoice.orderNumber }}</td>
                    <td>{{ medicalInvoice.invoiceNumber }}</td>
                    <td jhiTranslate="{{ 'startMedsolPrototypeApp.MedicalInvoiceType.' + medicalInvoice.type }}">{{ medicalInvoice.type }}</td>
                    <td>{{ medicalInvoice.total }}</td>
                    <td>{{ medicalInvoice.creatorUser }}</td>
                    <td>{{ medicalInvoice.createdAt | date:'medium' }}</td>
                    <td>
                        <div *ngIf="medicalInvoice.medicalCaseId">
                            <a [routerLink]="['/medical-case', medicalInvoice.medicalCaseId , 'view']" >{{ medicalInvoice.medicalCaseId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/medical-invoice', medicalInvoice.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/medical-invoice', medicalInvoice.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(medicalInvoice)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="medicalInvoices && medicalInvoices.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
