<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span jhiTranslate="startMedsolPrototypeApp.company.detail.title">Company</span> {{ company.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="startMedsolPrototypeApp.company.registrationNumber">Registration Number</span></dt>
                <dd>
                    <span>{{ company.registrationNumber }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.company.workplaceName">Workplace Name</span></dt>
                <dd>
                    <span>{{ company.workplaceName }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.company.workplaceId">Workplace Id</span></dt>
                <dd>
                    <span>{{ company.workplaceId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
