<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-company-heading" jhiTranslate="startMedsolPrototypeApp.company.home.createOrEditLabel">Create or edit a Company</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.company.registrationNumber" for="field_registrationNumber">Registration Number</label>
                    <input type="text" class="form-control" name="registrationNumber" id="field_registrationNumber"
                           formControlName="registrationNumber"/>
                    <div *ngIf="editForm.get('registrationNumber')!.invalid && (editForm.get('registrationNumber')!.dirty || editForm.get('registrationNumber')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('registrationNumber')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('registrationNumber')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.company.workplaceName" for="field_workplaceName">Workplace Name</label>
                    <input type="text" class="form-control" name="workplaceName" id="field_workplaceName"
                           formControlName="workplaceName"/>
                    <div *ngIf="editForm.get('workplaceName')!.invalid && (editForm.get('workplaceName')!.dirty || editForm.get('workplaceName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('workplaceName')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('workplaceName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.company.workplaceId" for="field_workplaceId">Workplace Id</label>
                    <input type="text" class="form-control" name="workplaceId" id="field_workplaceId"
                           formControlName="workplaceId"/>
                    <div *ngIf="editForm.get('workplaceId')!.invalid && (editForm.get('workplaceId')!.dirty || editForm.get('workplaceId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('workplaceId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('workplaceId')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
