<div>
    <h2 id="page-heading">
        <span jhiTranslate="startMedsolPrototypeApp.pphMedicineQualifiedName.home.title">Pph Medicine Qualified Names</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pph-medicine-qualified-name" [routerLink]="['/pph-medicine-qualified-name/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="startMedsolPrototypeApp.pphMedicineQualifiedName.home.createLabel">
            Create a new Pph Medicine Qualified Name
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="pphMedicineQualifiedNames?.length === 0">
        <span jhiTranslate="startMedsolPrototypeApp.pphMedicineQualifiedName.home.notFound">No pphMedicineQualifiedNames found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="pphMedicineQualifiedNames && pphMedicineQualifiedNames.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="startMedsolPrototypeApp.pphMedicineQualifiedName.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="startMedsolPrototypeApp.pphMedicineQualifiedName.activeSubstance">Active Substance</span></th>
                    <th scope="col" ><span jhiTranslate="startMedsolPrototypeApp.pphMedicineQualifiedName.activePuphaData">Active Pupha Data</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pphMedicineQualifiedName of pphMedicineQualifiedNames ;trackBy: trackId">
                    <td><a [routerLink]="['/pph-medicine-qualified-name', pphMedicineQualifiedName.id, 'view']">{{ pphMedicineQualifiedName.id }}</a></td>
                    <td>{{ pphMedicineQualifiedName.name }}</td>
                    <td>{{ pphMedicineQualifiedName.activeSubstance }}</td>
                    <td>{{ pphMedicineQualifiedName.activePuphaData }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pph-medicine-qualified-name', pphMedicineQualifiedName.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pph-medicine-qualified-name', pphMedicineQualifiedName.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(pphMedicineQualifiedName)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
