<div>
    <h2 id="page-heading">
        <span jhiTranslate="startMedsolPrototypeApp.prescriptionEesztId.home.title">Prescription Eeszt Ids</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prescription-eeszt-id" [routerLink]="['/prescription-eeszt-id/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="startMedsolPrototypeApp.prescriptionEesztId.home.createLabel">
            Create a new Prescription Eeszt Id
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="prescriptionEesztIds?.length === 0">
        <span jhiTranslate="startMedsolPrototypeApp.prescriptionEesztId.home.notFound">No prescriptionEesztIds found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="prescriptionEesztIds && prescriptionEesztIds.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="startMedsolPrototypeApp.prescriptionEesztId.eesztId">Eeszt Id</span></th>
                    <th scope="col" ><span jhiTranslate="startMedsolPrototypeApp.prescriptionEesztId.eesztVersion">Eeszt Version</span></th>
                    <th scope="col" ><span jhiTranslate="startMedsolPrototypeApp.prescriptionEesztId.prescription">Prescription</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let prescriptionEesztId of prescriptionEesztIds ;trackBy: trackId">
                    <td><a [routerLink]="['/prescription-eeszt-id', prescriptionEesztId.id, 'view']">{{ prescriptionEesztId.id }}</a></td>
                    <td>{{ prescriptionEesztId.eesztId }}</td>
                    <td>{{ prescriptionEesztId.eesztVersion }}</td>
                    <td>
                        <div *ngIf="prescriptionEesztId.prescription">
                            <a [routerLink]="['/prescription', prescriptionEesztId.prescription?.id, 'view']" >{{ prescriptionEesztId.prescription?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/prescription-eeszt-id', prescriptionEesztId.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/prescription-eeszt-id', prescriptionEesztId.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(prescriptionEesztId)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
