<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dictionaryItem">
            <h2><span jhiTranslate="startMedsolPrototypeApp.dictionaryItem.detail.title">Dictionary Item</span> {{ dictionaryItem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="startMedsolPrototypeApp.dictionaryItem.dictionaryItemType">Dictionary Item Type</span></dt>
                <dd>
                    <span>{{ dictionaryItem.dictionaryItemType }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.dictionaryItem.code">Code</span></dt>
                <dd>
                    <span>{{ dictionaryItem.code }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.dictionaryItem.orderNumber">Order Number</span></dt>
                <dd>
                    <span>{{ dictionaryItem.orderNumber }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.dictionaryItem.description">Description</span></dt>
                <dd>
                    <span>{{ dictionaryItem.description }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.dictionaryItem.parent">Parent</span></dt>
                <dd>
                    <span *ngFor="let parent of dictionaryItem.parents; let last = last">
                        <a [routerLink]="['/dictionary-item', parent?.id, 'view']">{{ parent.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dictionary-item', dictionaryItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
