<div>
    <h2 id="page-heading">
        <span jhiTranslate="startMedsolPrototypeApp.externalDocument.home.title">External Documents</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-external-document" [routerLink]="['/external-document/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="startMedsolPrototypeApp.externalDocument.home.createLabel">
            Create a new External Document
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="externalDocuments?.length === 0">
        <span jhiTranslate="startMedsolPrototypeApp.externalDocument.home.notFound">No externalDocuments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="externalDocuments && externalDocuments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="documentId"><span jhiTranslate="startMedsolPrototypeApp.externalDocument.documentId">Document Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="startMedsolPrototypeApp.externalDocument.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="created"><span jhiTranslate="startMedsolPrototypeApp.externalDocument.created">Created</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uploaded"><span jhiTranslate="startMedsolPrototypeApp.externalDocument.uploaded">Uploaded</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="medicalCaseId"><span jhiTranslate="startMedsolPrototypeApp.externalDocument.medicalCase">Medical Case</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let externalDocument of externalDocuments ;trackBy: trackId">
                    <td><a [routerLink]="['/external-document', externalDocument.id, 'view']">{{ externalDocument.id }}</a></td>
                    <td>{{ externalDocument.documentId }}</td>
                    <td>{{ externalDocument.name }}</td>
                    <td>{{ externalDocument.created | date:'medium' }}</td>
                    <td>{{ externalDocument.uploaded | date:'medium' }}</td>
                    <td>
                        <div *ngIf="externalDocument.medicalCaseId">
                            <a [routerLink]="['/medical-case', externalDocument.medicalCaseId , 'view']" >{{ externalDocument.medicalCaseId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/external-document', externalDocument.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/external-document', externalDocument.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(externalDocument)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="externalDocuments && externalDocuments.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
