<div>
    <h2 id="page-heading">
        <span jhiTranslate="startMedsolPrototypeApp.puphaLoader.home.title">Pupha Loaders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pupha-loader" [routerLink]="['/pupha-loader/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="startMedsolPrototypeApp.puphaLoader.home.createLabel">
            Create a new Pupha Loader
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="puphaLoaders?.length === 0">
        <span jhiTranslate="startMedsolPrototypeApp.puphaLoader.home.notFound">No puphaLoaders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="puphaLoaders && puphaLoaders.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="event"><span jhiTranslate="startMedsolPrototypeApp.puphaLoader.event">Event</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="log"><span jhiTranslate="startMedsolPrototypeApp.puphaLoader.log">Log</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="time"><span jhiTranslate="startMedsolPrototypeApp.puphaLoader.time">Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let puphaLoader of puphaLoaders ;trackBy: trackId">
                    <td><a [routerLink]="['/pupha-loader', puphaLoader.id, 'view']">{{ puphaLoader.id }}</a></td>
                    <td>{{ puphaLoader.event }}</td>
                    <td>{{ puphaLoader.log }}</td>
                    <td>{{ puphaLoader.time | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/pupha-loader', puphaLoader.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/pupha-loader', puphaLoader.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(puphaLoader)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="puphaLoaders && puphaLoaders.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
