<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ehr-document-heading" jhiTranslate="startMedsolPrototypeApp.ehrDocument.home.createOrEditLabel">Create or edit a Ehr Document</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.ehrDocument.eesztId" for="field_eesztId">Eeszt Id</label>
                    <input type="text" class="form-control" name="eesztId" id="field_eesztId"
                           formControlName="eesztId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.ehrDocument.documentId" for="field_documentId">Document Id</label>
                    <input type="text" class="form-control" name="documentId" id="field_documentId"
                           formControlName="documentId"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.ehrDocument.created" for="field_created">Created</label>
                    <div class="d-flex">
                        <input id="field_created" type="datetime-local" class="form-control" name="created" formControlName="created" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.ehrDocument.documentType" for="field_documentType">Document Type</label>
                    <input type="text" class="form-control" name="documentType" id="field_documentType"
                           formControlName="documentType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.ehrDocument.doctorName" for="field_doctorName">Doctor Name</label>
                    <input type="text" class="form-control" name="doctorName" id="field_doctorName"
                           formControlName="doctorName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.ehrDocument.institutionName" for="field_institutionName">Institution Name</label>
                    <input type="text" class="form-control" name="institutionName" id="field_institutionName"
                           formControlName="institutionName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="startMedsolPrototypeApp.ehrDocument.praxisName" for="field_praxisName">Praxis Name</label>
                    <input type="text" class="form-control" name="praxisName" id="field_praxisName"
                           formControlName="praxisName"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
