<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ehrDocument">
            <h2><span jhiTranslate="startMedsolPrototypeApp.ehrDocument.detail.title">Ehr Document</span> {{ ehrDocument.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="startMedsolPrototypeApp.ehrDocument.eesztId">Eeszt Id</span></dt>
                <dd>
                    <span>{{ ehrDocument.eesztId }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.ehrDocument.documentId">Document Id</span></dt>
                <dd>
                    <span>{{ ehrDocument.documentId }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.ehrDocument.created">Created</span></dt>
                <dd>
                    <span>{{ ehrDocument.created }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.ehrDocument.documentType">Document Type</span></dt>
                <dd>
                    <span>{{ ehrDocument.documentType }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.ehrDocument.doctorName">Doctor Name</span></dt>
                <dd>
                    <span>{{ ehrDocument.doctorName }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.ehrDocument.institutionName">Institution Name</span></dt>
                <dd>
                    <span>{{ ehrDocument.institutionName }}</span>
                </dd>
                <dt><span jhiTranslate="startMedsolPrototypeApp.ehrDocument.praxisName">Praxis Name</span></dt>
                <dd>
                    <span>{{ ehrDocument.praxisName }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ehr-document', ehrDocument.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
